name: "Auto-publish NPM Package"

on:
    push:
        branches:
            - master

jobs:
    push_to_registry:
        name: "Setup, and publish"
        runs-on: ubuntu-latest

        steps:
            - name: "Check out the repo"
              uses: actions/checkout@v4

            - name: "Set up Node"
              uses: actions/setup-node@v4
              with:
                  registry-url: "https://registry.npmjs.org"
                  node-version: 20
                  check-latest: true

            - name: "Dependencies and tests"
              run: |
                  npm ci
                  npm run build
            - name: "Publish to NPM"
              uses: JS-DevTools/npm-publish@v3
              with:
                  token: ${{ secrets.NPM_TOKEN }}
