name: NPM Audit SDK

on:
  pull_request:
  schedule:
    - cron: "0 0 1 * *" # every month

jobs:
  NPM-Audit-SDK:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Run npm audit
        run: npm audit --audit-level=high
